$white400: #fff;
$white500: #d8d8d8;
$black400: #606060;
$black500: #161616;
$black900: #1c1c1c;

// Fonts
$basisGrotesquePro: 'basis_grotesque_pro';
$edgeLLight: 'edge_l_light';

:root {
  --white400: #fff;
  --white500: #d8d8d8;
  --black400: #606060;
  --black500: #161616;
  --black900: #1c1c1c;
}
